In [1]:
import pandas as pd

# Read the Excel file
df_raw = pd.read_csv('/Users/srisatyaindukuri/Spider/ML - Curricular Analytics - PIDM ONLY.csv')

# Display the first few rows of the DataFrame
df_raw.head(5)

,Pidm,Admit_Code,Admit_Desc,Admit_Term,Admit_Level,Admit_College,Admit_Major_Code,Major_Desc,MULTI,Race,...,EACT,SAT-ERW,SATM,SAT_TOTAL,Term,CRN,SUBJ,CRSE_NUMB,Repeat_Ind,SHRTCKG_GRDE_CODE_FINAL
0,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,NaN,W White,...,-,-,-,-,202101.0,10803.0,LIS,3361,NaN,A
1,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,NaN,W White,...,-,-,-,-,202101.0,16614.0,LIS,3353,NaN,A-
2,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,NaN,W White,...,-,-,-,-,202101.0,24972.0,COP,2030,NaN,B+
3,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,NaN,W White,...,-,-,-,-,202101.0,26205.0,CIS,4510,NaN,A
4,285,FS,Former USF Student Returning,202101,UG,SA,BGS,General Studies,NaN,W White,...,-,-,-,-,202105.0,54564.0,LIS,4365,NaN,W

In [2]:
print(df_raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2679269 entries, 0 to 2679268
Data columns (total 31 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Pidm                     int64
 1   Admit_Code               object
 2   Admit_Desc               object
 3   Admit_Term               int64
 4   Admit_Level              object
 5   Admit_College            object
 6   Admit_Major_Code         object
 7   Major_Desc               object
 8   MULTI                    object
 9   Race                     object
 10  NEW_ETHNICITY            object
 11  GENDER_Code              object
 12  GENDER                   object
 13  CITZ_IND                 object
 14  CITZ_CODE                object
 15  CITZ_DESC                object
 16  Final_GPA                float64
 17  ACTE                     object
 18  ACTM                     object
 19  ACTR                     object
 20  ACTS                     object
 21  EACT                     object
 22  SAT-ERW                  object
 23  SATM                     object
 24  SAT_TOTAL                object
 25  Term                     float64
 26  CRN                      float64
 27  SUBJ                     object
 28  CRSE_NUMB                object
 29  Repeat_Ind               object
 30  SHRTCKG_GRDE_CODE_FINAL  object
dtypes: float64(3), int64(2), object(26)
memory usage: 633.7+ MB
None

In [3]:
df_raw.isna().sum()

Pidm                             0
Admit_Code                       0
Admit_Desc                       0
Admit_Term                       0
Admit_Level                      0
Admit_College                    0
Admit_Major_Code                 0
Major_Desc                       0
MULTI                      2532983
Race                        275295
NEW_ETHNICITY               120342
GENDER_Code                      0
GENDER                           0
CITZ_IND                     15712
CITZ_CODE                        0
CITZ_DESC                        0
Final_GPA                   112534
ACTE                             0
ACTM                             0
ACTR                             0
ACTS                             0
EACT                             0
SAT-ERW                          0
SATM                             0
SAT_TOTAL                        0
Term                          7419
CRN                           7419
SUBJ                          7419
CRSE_NUMB                     7419
Repeat_Ind                 2589818
SHRTCKG_GRDE_CODE_FINAL       7419
dtype: int64

In [4]:
df1 = df_raw['Admit_Desc'].unique()
print(df1)

['Former USF Student Returning' 'Second Baccalaureate'
 'Fl Comm Coll Transf-Upper Levl' 'Other UG Transf - Upper Level'
 'Beginner(FTIC) - Lower Level' 'Fl Comm Coll Transf-Lower Levl'
 'Other UG Transf - Lower Level' 'Early Admit - Lower Level'
 'Beginner(FTIC) - w/ AA']

In [6]:
# DataFrame and 'Admit_Desc' is the column containing the descriptions
student_counts = df_raw['Admit_Desc'].value_counts()

# Print the result
print(student_counts)

Admit_Desc
Beginner(FTIC) - Lower Level      1858276
Fl Comm Coll Transf-Upper Levl     345732
Other UG Transf - Lower Level      196225
Fl Comm Coll Transf-Lower Levl      85266
Other UG Transf - Upper Level       75543
Former USF Student Returning        67185
Second Baccalaureate                48724
Early Admit - Lower Level            2282
Beginner(FTIC) - w/ AA                 36
Name: count, dtype: int64

Different admit levels have different info about their admit score how to standardize them?